In [25]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
sns.set_palette("husl")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [26]:
import pandas as pd
h=pd.read_csv('D:\ds\house_data.csv')

In [27]:
h.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,3,1180,0,1955,0,98178,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,3,2170,400,1951,1991,98125,1690,7639
2,180000.0,2,1.00,770,10000,1.0,3,770,0,1933,0,98028,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,5,1050,910,1965,0,98136,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,3,1680,0,1987,0,98074,1800,7503

In [28]:
h.tail()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
21608,360000.0,3,2.50,1530,1131,3.0,3,1530,0,2009,0,98103,1530,1509
21609,400000.0,4,2.50,2310,5813,2.0,3,2310,0,2014,0,98146,1830,7200
21610,402101.0,2,0.75,1020,1350,2.0,3,1020,0,2009,0,98144,1020,2007
21611,400000.0,3,2.50,1600,2388,2.0,3,1600,0,2004,0,98027,1410,1287
21612,325000.0,2,0.75,1020,1076,2.0,3,1020,0,2008,0,98144,1020,1357

In [29]:
h.shape

(21613, 14)

In [30]:
h.info

<bound method DataFrame.info of           price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0      221900.0         3       1.00         1180      5650     1.0
1      538000.0         3       2.25         2570      7242     2.0
2      180000.0         2       1.00          770     10000     1.0
3      604000.0         4       3.00         1960      5000     1.0
4      510000.0         3       2.00         1680      8080     1.0
...         ...       ...        ...          ...       ...     ...
21608  360000.0         3       2.50         1530      1131     3.0
21609  400000.0         4       2.50         2310      5813     2.0
21610  402101.0         2       0.75         1020      1350     2.0
21611  400000.0         3       2.50         1600      2388     2.0
21612  325000.0         2       0.75         1020      1076     2.0

       condition  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode  \
0              3        1180              0      1955             0    98178
1              3        2170            400      1951          1991    98125
2              3         770              0      1933             0    98028
3              5        1050            910      1965             0    98136
4              3        1680              0      1987             0    98074
...          ...         ...            ...       ...           ...      ...
21608          3        1530              0      2009             0    98103
21609          3        2310              0      2014             0    98146
21610          3        1020              0      2009             0    98144
21611          3        1600              0      2004             0    98027
21612          3        1020              0      2008             0    98144

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 14 columns]>

In [31]:
h.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.401822e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,3.409430,1788.390691,291.509045,1971.005136,84.402258,98077.939805,1986.552492,12768.455652
std,3.673622e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.650743,828.090978,442.575043,29.373411,401.679240,53.505026,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,3.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,4.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,5.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,6210.000000,871200.000000

In [32]:
h.dtypes

price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [33]:
s = (h.dtypes =="object")
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)

Categorical variables:
[]

In [34]:
label_encoder = LabelEncoder()
for col in object_cols:
    label_data[col] = label_encoder.fit_transform(label_data[col])
label_data.head()

NameError: name 'label_data' is not defined

In [35]:
h.price.std()

367362.23171800975

In [36]:
h.price.mean()

540182.1587933188

In [37]:
cmap = sns.diverging_palette(70,20,s=50, l=40, n=6,as_cmap=True)
corrmat= label_data.corr()
f, ax = plt.subplots(figsize=(12,12))
sns.heatmap(corrmat,cmap=cmap,annot=True, )

NameError: name 'label_data' is not defined

In [38]:
X = h[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'sqft_living15', 'sqft_lot15']]
y = h['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [39]:
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression()

In [40]:
intercept = regression_model.intercept_
print("The intercept for our model is {}".format(intercept))

The intercept for our model is -19126449.70975865

In [ ]:
for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[idx]))

In [ ]:
regression_model.score(X_train, y_train)

In [ ]:
regression_model.score(X_test, y_test)

In [ ]:
y_pred = regression_model.predict(X_test)
plt.scatter(y_test, y_pred)